---
import "@Styles/Global.css";
import Header from "@Components/Header.astro";
import Footer from "@Components/Footer.astro";

import ViewTransitions from "astro/components/ViewTransitions.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
const site = Astro.site ? new URL(Astro.site) : null;
const path = Astro.url?.pathname || "/";
const url = site ? new URL(path, site).href : null;
---

<script>
	const setDarkMode = (document: Document) => {
		const isDark = window.matchMedia(
			"(prefers-color-scheme: dark)",
		).matches;
		const theme =
			localStorage.getItem("F-Theme") || (isDark ? "dark" : "light");

		const applyTheme = (mode: any) => {
			document.documentElement.classList.toggle("dark", mode === "dark");
			document.documentElement.style.colorScheme = mode;
		};

		theme === "system"
			? applyTheme(isDark ? "dark" : "light")
			: applyTheme(theme);
	};

	setDarkMode(document);
	document.addEventListener("astro:before-swap", (e) =>
		setDarkMode(e.newDocument),
	);
	window
		.matchMedia("(prefers-color-scheme: dark)")
		.addEventListener("change", () => setDarkMode(document));
</script>

<html lang="en">
	<head>
		<title>{title}</title>
		<meta name="Author" content="Lifo123" />
		<meta name="description" content={description} />

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- OpenGraph Tags -->
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={url} />
		<meta property="og:locale" content="en" />
		<meta property="og:description" content={description} />
		<meta property="og:site_name" content="GuessWord" />
		<meta property="og:image" content="" />
		<meta property="og:image:alt" content="GuessWord Image" />

		<!-- Twitter Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@GuessWord" />
		<meta name="twitter:creator" content="@Lifo123" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:url" content={url} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content="" />
		<meta name="twitter:image:alt" content="GuessWord Image" />
		<meta
			name="google-site-verification"
			content="QAGlLlv_gtS49AYu1kBdgNivwvrHyZ8bMfWGo5DgfhY"
		/>
		<ViewTransitions />
		<!-- Styles -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/gh/Lifo123/FlifoCSS@main/src/output/Flifo.css"
		/>
		<meta name="google-adsense-account" content="ca-pub-5536301055460484" />
		<script
			async
			src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5536301055460484"
			crossorigin="anonymous"></script>
	</head>
	<body class="f-col w-100 mx-auto" style="max-width: 700px;">
		<Header />
		<slot />
		<Footer />
	</body>
</html>